.footer_section{
    display: grid;
    row-gap: 65px;
}
.signIn_btn button{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: 3px solid rgb(179 178 178 / 50%);
    background-color: transparent;
    i{
        font-size: 25px;
        color: rgb(179 178 178 / 50%);
    }
}
.signIn_alt{
    display:flex;
    flex-direction: column;
    font-family: monospace;
    font-weight: 900;
    font-size: 15px;
    color: rgb(179 178 178);
    cursor: pointer;
    position: relative;
}
.signIn_alt small:hover{
    color: black;
    transition: 1.5s;
}
.signIn_alt .version{
    position: absolute;
    bottom: 0;
    right: 10px;
}