.opendoc{
    position: fixed;
    top: 40%;
    left: 35%;
    border: 6px inset;
    padding: 30px 0;
    a{
        text-decoration: none;
        padding: 30px 150px;
       font-size: 35px;
    }
}
